{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Selecao Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static "blog/assets/img/favicon.png" %}" rel="icon">
    <link href="{% static "blog/assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'blog/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/vendor/line-awesome/css/line-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'blog/assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/css/rtl.css' %}" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center">
        <nav class="nav-menu d-none d-lg-block">
            <ul id="headerlist" class="d-lg-flex">
                <li class="active"><a href="index.html">صفحه اصلی</a></li>
                <li><a href="#about">درباره ما</a></li>
                <li><a href="#services">خدمات</a></li>
                <li><a href="#portfolio">نمونه کار</a></li>
                <li><a href="#pricing">قیمت</a></li>
                <li><a href="#team">تیم ما</a></li>
                <li class="drop-down"><a href="">لیست خدمات</a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="drop-down"><a href="#">Drop Down 2</a>
                            <ul>
                                <li><a href="#">پرده</a></li>
                                <li><a href="#">آینه دکوراتیو</a></li>
                                <li><a href="#">قرنیز</a></li>
                                <li><a href="#">کاغذدیواری</a></li>
                                <li><a href="#">آلکور</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                        <li><a href="#">Drop Down 5</a></li>
                    </ul>
                </li>
                <li><a href="#contact">تماس با ما</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">به <span>دکوراسیون برتر</span> خوش آمدید </h2>
                <p class="animate__animated fanimate__adeInUp h3">خانه رویایی تان را با ما بسازید</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">عرضه اجناس با بالاترین کیفیت و نازلترین قیمت </h2>
                <p class="animate__animated animate__fadeInUp h2">مفتخریم با همکاری با بهترین برند های پرده،
                    کاغذدیواری،قرنیز،آینه دکوراتیو ایران بهترین اجناس را برای هم استانی های گرام فراهم آوریم</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">کادر مجرب</h2>
                <p class="animate__animated animate__fadeInUp h2" dir="rtl">کادر مجربی از بهترین استاد کاران پرده، کاغذ
                    دیواری وآلکور،آینه دکوراتیو،قرنیزو....</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g>
    </svg>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>دکوراسیون داخلی برتر</h2>
                <p>از طراحی تا بازسازی ساختمان </p>
            </div>

            <div class="row content" data-aos="fade-up">
                <div class="col-lg-6">
                    <p class="h6 text-justify"><b>
                        معنی دکوراسیون در لغت نامه فارسی آراستن، چیدمان و مرتب کردن است. وقتی که صحبت از دکوراسیون داخلی
                        می‌شود منظور نحوه چیدمان و انتخاب مناسب وسایل قسمت های مختلف خانه از جمله قسمت پذیرایی و نشیمن،
                        اتاق ها، آشپزخانه، حمام و دستشویی می باشد.

                        با توجه به همه گیر شدن و جذاب شدن طراحی دکوراسیون داخلی دیگر طراحی دکوراسیون محدود به خانه‌های
                        مسکونی نیست و در دفاتر کاری، فروشگاه ها، مغازه ها، بیمارستان ها، هتل ها و غیره هم از قوانین
                        مختلف طراحی دکوراسیون داخلی استفاده میشود.

                    </b>
                    </p>
                    <ul>
                        <li> نازل ترین قیمت ها</li>
                        <li> مجرب ترین کادر</li>
                        <li> بالاترین کیفیت</li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p class="h6 text-justify"><b>
                        طراحی دکوراسیون داخلی منزل، هماهنگ‌سازی اجزای داخلی خانه است که با هدف زیباتر شدن و ایجاد یک
                        فضای گرم و دل انگیز در فضای خانه می باشد. خصوصا در خانه های کوچک و نقلی آپارتمانی امروزی با
                        استفاده از طراحی درست دکوراسیون داخلی منزل می‌توان این فضا را بهینه سازی کرد و با ایجاد هماهنگی
                        بین اجزا، رنگ ها و وسایل، جلوه‌ گری آنها را بیشتر کرد.

                        نقل مکان به خانه های جدید همیشه برای افراد یک خانه پر از هیجان و جذابیت است، اما گاهی اوقات نحوه
                        چیدمان دکوراسیون خانه تبدیل به یک دغدغه برای افراد آن خانه، خصوصا خانم خانه می شود و شما باید
                        تصمیم بگیرید که وسایل خود را در محیط جدید و فضایی که مشاهده می کنید به چه نحوی چیدمان کنید تا یک
                        فضای مناسب را فراهم بیاورید و طوری طراحی دکوراسیون خانه را انجام دهید که بازتابی از شخصیت و
                        احساس و سلیقه شما باشد.
                    </b>
                    </p>
                    <a href="#" class="btn-learn-more">Learn More</a>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <ul class="nav nav-tabs row d-flex">
                <li class="nav-item col-3" data-aos="zoom-in">
                    <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                        <h4 class="d-none d-lg-block">خدمات دوخت و نصب پرده</h4>
                        <img src="https://img.icons8.com/fluency-systems-regular/64/000000/theatre-curtain.png"/>
                    </a>
                </li>
                <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
                    <a class="nav-link" data-toggle="tab" href="#tab-2">
                        <h4 class="d-none d-lg-block">خدمات کاغذ دیواری</h4>
                        <img src="https://img.icons8.com/ios-filled/64/000000/wallpaper-roll.png"/>
                    </a>
                </li>
                <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
                    <a class="nav-link" data-toggle="tab" href="#tab-3">
                        <h4 class="d-none d-lg-block">آینه دکوراتیو</h4>
                        <img src="https://img.icons8.com/ios-filled/64/000000/interior-mirror.png"/>
                    </a>
                </li>
                <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
                    <a class="nav-link" data-toggle="tab" href="#tab-4">
                        <h4 class="d-none d-lg-block">خدمات ام دی اف </h4>
                        <img src="https://img.icons8.com/office/64/000000/wood.png"/>
                    </a>
                </li>
            </ul>

            <div class="tab-content" data-aos="fade-up">
                <div class="tab-pane active show" id="tab-1">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>خدمات دوخت و نصب پرده</h3>
                            <p class="font-italic text-justify font-weight-bold">
                                تنوع در دکوراسیون حتی با کار ساده‌­ای مثل دوخت و نصب پرده جدید، می‌­تواند تأثیر زیادی بر
                                روحیه افراد ساکن در خانه یا اداره داشته باشد.

                                علاوه بر آن، نصب پرده­‌های زیبا در منزل و ادارات باعث چشمگیر شدن فضای داخل اتاق می‌شود
                                در صورتی که باید بسیار باسلیقه و باکیفیت انجام شود تا فضایی مدرن را بوجود آورد.

                                آنچه مهم است انتخاب یک خیاط ماهر و با تجربه برای این کار است تا بهترین نتیجه حاصل شود.
                                با پین‌ورک دیگر دغدغه‌ای برای پیدا کردن خیاط ماهر پرده و نصاب پرده نخواهید داشت.

                                پین ورک؛ مرکز تخصصی دوخت و نصب پرده، صفر تا صد کار را به متخصصین می‌­سپارد تا متناسب با
                                سلیقه شما پیش بروند. حتی اگر پارچه پرده را از قبل تهیه نموده‌اید می‌توانید از خدمات دوخت
                                پرده در پین‌ورک نیز استفاده کنید.

                                کافی است درخواست دوخت و نصب پرده خود را ثبت کنید!
                                زیر ۱۵ دقیقه، یک متخصص در این زمینه از شرکت ما معرفی می‌گردد. بعد از تأییدتان، در
                                سریع‌ترین زمان در محل شما حاضر است.

                            </p>
                            <ul>
                                <li><i class="ri-check-double-line text-justify"></i>با نصب پرده جدید، یک خانه جدید
                                    تجربه کنید!
                                </li>

                                <li>وقتی یک دکوراسیون جدید با این کار در محیط ایجاد می‌کنید، می­‌توانید یک ظاهر متفاوت و
                                    شیک را به خود و اعضای خانوادتان هدیه دهید، اما شاید بگوئید قیمت دوخت و نصب پرده شیک
                                    بالاست!

                                    در واقع درست است که قیمت پارچه­‌های خاص پرده، گران است، اما اگر پارچه ارزان­‌تر
                                    انتخاب شود ولی دوخت آن درست و اصولی باشد، نتیجه عالی خواهد شد.

                                    پس به جای خرید پارچه گران به دنبال خیاط و نصاب پرده و نصاب حرفه‌­ای پرده باشید.
                                    علاوه بر آن، باید انتخاب درستی از رنگ پرده و مدل پرده داشته باشیم.

                                    یادمان باشد که حتی نصب ساده‌ترین نوع پرده هم باید درست انجام شود. در واقع داشتن
                                    وسواس در آویزان کردن پرده ساده خیلی هم بد نیست.

                                    اینکه نصاب پرده بتواند اتصال چوب پرده را اصولی و صاف انجام بدهد و تمام چین‌ها و
                                    پیله‌ها درست در جای خودشان قرار دهد، خیلی مهم است.

                                    بنابراین برای اینکه یک انتخاب اصولی و متناسب با چیدمان منزل، سایز پنجره‌­ها و …
                                    داشته باشیم، بهتر است با نکاتی را در این رابطه بدانیم.
                                </li>
                            </ul>

                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="{% static 'blog/assets/img/features-1.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-2">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>فروش و نصب کاغذ دیواری</h3>
                            <p class="font-weight-bold">
                                کاغذ دیواری یا والپیپر (به انگلیسی: Wallpaper) پوشش تزیینی است که برای پوشش دادن سطوح
                                دیوارهای داخلی در ادارات، خانه‌ها و دیگر ساختمانها استفاده می‌شود؛ کاغذ دیواری یکی از
                                جنبه‌های طراحی داخلی به‌شمار می‌آید. این نوع پوشش بیشتر به صورت رول یا به صورت متری
                                فروخته می‌شود و با چسباندن روی دیوار مورد استفاده قرار می‌گیرد. کاغذ دیواری‌ها می‌توانند
                                ساده (به صورت نقاشی) یا به صورت بافته‌شده (مانند آنگلیپتا) یا با الگوهای گرافیکی ساخته
                                شده باشند.

                                روش‌های چاپ کاغذ دیواری شامل چاپ سطحی، چاپ به‌وسیله حکاکی، چاپ سیلک ابریشمی، چاپ به صورت
                                دیجیتالی یا چاپ به وسیله ماشین چاپ چرخشی است.
                            </p>
                            <p class="font-italic"><i class="ri-arrow-left-circle-fill"></i>
                                انواع کاربردهای کاغذ دیواری
                            </p>
                            <ul>
                                <li><i class="ri-check-double-line"></i> کاغذ دیواری اتاق پذیرایی و مهمان
                                </li>
                                <li><i class="ri-check-double-line"></i> کاغذ دیواری اتاق خواب
                                </li>
                                <li><i class="ri-check-double-line"></i> کاغذ دیواری اتاق کودک
                                </li>
                                <li><i class="ri-check-double-line"></i> پوستر های تزئینی به منظور زیبایی هر چه بیشتر
                                    فضای منزل
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="{% static 'blog/assets/img/features-2.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-3">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>فروش و نصب آینه دکوراتیو</h3>
                            <p class="font-weight-bold text-justify">
                                آینه دکوراتیو یکی از انواع آینه‌‎های تزیینی و زیبا است که می‌توان از آن در زیباسازی
                                دکوراسیون منزل استفاده کرد.
                                استفاده از آینه‌های دکوراتیو یکی از بهترین روش‌های زیباسازی محسوب شده و می‌توان به وسیله
                                آن انواع خانه‌های مدرن و یا کلاسیک را زیباتر کرد.
                            </p>
                            <ul>
                                <li><i class="ri-check-double-line"></i> اهمیت استفاده از آینه دکوراتیو در دکوراسیون
                                    داخلی

                            </ul>
                            <p class="font-italic text-justify">
                                استفاده از آینه‌های دکوراتیو می‌تواند به شما در ایجاد فضای زیبا و شیک و همچنین پر زرق و
                                برق دار کردن دکوراسیون داخلی منزل کمک کند.

                                این آینه‌ها برای زیباسازی دکوراسیون داخلی شیک، مدرن و کلاسیک قابل استفاده بوده و
                                می‌توانند فضای اطراف خود را بسیار زیباتر نشان دهد.

                                یکی از ویژگی‌های مهم استفاده از آینه‌های دکوراتیو این است که می‌توانند به خوبی نور را در
                                فضای خانه منعکس کرده و باعث افزایش روشنایی منزل گردند.

                                همچنین با بازتاب تصاویر در این آینه‌ها، باعث جذاب‌تر دیده شدن و بزرگ‌تر دیده شدن فضای
                                داخلی خانه می‌شود.

                                در نتیجه استفاده از این محصولات در خانه‌های کوچک بسیار مفید خواهد بود.

                                به طور کلی این آینه‌ها در رنگ‌های مختلف طلایی، مسی، برنز و نقره‌ای تولید شده و هر کدام
                                از آن‌ها را می‌توان در فضا و نوع دکوراسیون مختلف به کار گرفت.
                            </p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="{% static 'blog/assets/img/features-3.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-4">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>طراحی و نصب کابینت و کمد دیواری</h3>
                            <ul>
                                <li><i class="ri-check-double-line"></i> نقش کابینت در دکوراسیون آشپزخانه :
                                </li>
                            </ul>
                            <p class="font-weight-bold">
                                به طور کلی دکوراسیون داخلی باید به گونه ای باشد که
                                طراحی فضاها بر اساس میزان مساحت و کاربری داخلی محیط در نظر گرفته شود. همچنین تمامی فضاها
                                باید نیاز های صاحب خانه را برطرف کند. طراحی آشپزخانه و مخصوصا کابینت ها از مهمترین جنبه
                                های دکوراسیون داخلی است. می توان بیان کرد بیشتر زیبایی دکوراسیون داخلی به طراحی آشپزخانه
                                مربوط می شود، بطوری که وجود کابینت آشپزخانه و تجهیزات مختلف نیاز به هماهنگی متناسبی با
                                سایر قسمت های طراحی شده در خانه را داشته باشند.
                            </p>
                            <ul class="font-italic">
                                <li>
                                    <i class="ri-check-double-line"></i>
                                    انتخاب کابینت متناسب با آشپزخانه
                                </li>
                            </ul>
                            <p>انتخاب یک کابینت مناسب برای آشپزخانه تصمیم بسیار
                                سختی است زیرا کابینت ها دارای قیمتی بالا هستند و در نتیجه می توانند با زیبایی خود
                                فضا را تحت تاثیر قرار دهند. کابینت ها علاوه بر اینکه ظاهر فضا را به خوبی جلوه می
                                دهند در عین حال کاربردی هم باید داشته باشند. مهمترین مسئله که از همه بیشتر چالش
                                برانگیز است این است که نه قیمت و نه ظاهر دلیل بر مناسب بودن کابینت ها برای فضا
                                نیستند. بلکه دلیل آن این است که تنوع در کابینت ها با توجه به مد روز همیشه در حال
                                تغییر است و مصالح و روش های جدیدی در ساخت و ساز وجود دارد که دارای ویژگی هایی با
                                کیفیت عالی هستند. عوامل متعددی در انتخاب کابینت آشپزخانه تأثیرگذار هستند، مانند سبک،
                                متریال، اندازه ها و قیمت های مختلفی در بازار وجود دارد که قبل از انتخاب آن ها باید
                                تحقیقات زیادی انجام گیرد. مهمترین عامل این است که کابینت ها اغلب بیشترین هزینه ی
                                آشپزخانه را شامل می شوند. پس در ادامه با ما باشید تا شما را در انتخاب کابینت ها
                                راهنمایی کنیم.
                            </p>


                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="{% static 'blog/assets/img/features-4.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container text-right">

            <div class="row" data-aos="zoom-out">
                <div class="col-lg-9 text-center text-lg-right">
                    <h3>آدرس محل کار</h3>
                    <p class="font-weight-bold"> لردگان ،خیابان شهید کلانتری روبه روی مصلی جنب بانک توسعه تعاون</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">تماس با ما</a>
                </div>
            </div>

        </div>
    </section>
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>اجناس</h2>
                <p>لیست آلبوم ها</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="zoom-in-left">
                        <div class="icon"><i class="las la-basketball-ball" style="color: #ff689b;"></i></div>
                        <h4 class="title"><a href="">کاغذ دیواری</a></h4>
                        <p class="description">تمامی آلبوم ها و پوستر های ما را از اینجا ببینید</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                        <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
                        <h4 class="title"><a href="">پرده</a></h4>
                        <p class="description">مجموعه ای طرح های روز پرده را از اینجا ببینید</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                        <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
                        <h4 class="title"><a href="">قرنیز</a></h4>
                        <p class="description">کلکسیون طرح رنگ ها و اجناس قرنیز مارا از اینجا ببینید</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
                        <div class="icon"><i class="las la-tachometer-alt" style="color:#41cf2e;"></i></div>
                        <h4 class="title"><a href="">آینه دکوراتیو</a></h4>
                        <p class="description">مجموعه ای شیک ترین طرح های روز آینه دکوراتیو</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
                        <div class="icon"><i class="las la-globe-americas" style="color: #d6ff22;"></i></div>
                        <h4 class="title"><a href="">کابینت</a></h4>
                        <p class="description">انواع طرح کای زیبا کابینت آشپزخانه را از اینجا ببینید</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
                        <div class="icon"><i class="las la-clock" style="color: #4680ff;"></i></div>
                        <h4 class="title"><a href="">کمد دیواری</a></h4>
                        <p class="description">انواع طرح های زیبا کمد دیواری را از اینجا ببینید</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>کارهای ما</h2>
                <p>مجموعه ای از کار های سابق ما</p>
            </div>

            <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
            </ul>

            <div class="row portfolio-container" data-aos="fade-up">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'blog/assets/img/portfolio/portfolio-1.jpg' %}"
                                                    class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                        <a href="{% static 'blog/assets/img/portfolio/portfolio-1.jpg' %}" data-gall="portfolioGallery"
                           class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="{% static 'blog/assets/img/portfolio/portfolio-2.jpg' %}"
                                                    class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <a href="{% static 'blog/assets/img/portfolio/portfolio-2.jpg' %}" data-gall="portfolioGallery"
                           class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'blog/assets/img/portfolio/portfolio-3.jpg' %}"
                                                    class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>App 2</h4>
                        <p>App</p>
                        <a href="a{% static 'blog/assets/img/portfolio/portfolio-3.jpg' %}" data-gall="portfolioGallery"
                           class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="{% static 'blog/assets/img/portfolio/portfolio-4.jpg' %}"
                                                    class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Card 2</h4>
                        <p>Card</p>
                        <a href="{% static 'blog/assets/img/portfolio/portfolio-4.jpg' %}" data-gall="portfolioGallery"
                           class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="{% static 'blog/assets/img/portfolio/portfolio-5.jpg' %}"
                                                    class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Web 2</h4>
                        <p>Web</p>
                        <a href="{% static 'blog/assets/img/portfolio/portfolio-5.jpg' %}" data-gall="portfolioGallery"
                           class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'blog/assets/img/portfolio/portfolio-6.jpg' %}"
                                                    class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>App 3</h4>
                        <p>App</p>
                        <a href="{% static 'blog/assets/img/portfolio/portfolio-6.jpg' %}" data-gall="portfolioGallery"
                           class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="{% static 'blog/assets/img/portfolio/portfolio-7.jpg' %}"
                                                    class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Card 1</h4>
                        <p>Card</p>
                        <a href="{% static 'blog/assets/img/portfolio/portfolio-7.jpg' %}" data-gall="portfolioGallery"
                           class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="{% static 'blog/assets/img/portfolio/portfolio-8.jpg' %}"
                                                    class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Card 3</h4>
                        <p>Card</p>
                        <a href="{% static 'blog/assets/img/portfolio/portfolio-8.jpg' %}" data-gall="portfolioGallery"
                           class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="{% static 'blog/assets/img/portfolio/portfolio-9.jpg' %}"
                                                    class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>قیمت ها</h2>
                <p>لیست قیمت محصولات</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="box" data-aos="zoom-in">
                        <h3>کاغذ دیواری نانو</h3>
                        <h4><sup class="font-weight-lighter ">هزار تومان</sup> 50<span> / رولی</span></h4>
                        <ul>
                            <li>کیفیت عالی</li>
                            <li>قابل شستشو</li>
                            <li>انواع طرح و نقش</li>
                            <li>گل دار و ساده</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">مشاهده لیست طرح ها</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                    <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
                        <h3>پرده و حریر</h3>
                        <h4><sup class="font-weight-lighter">هزارتومن</sup> 100<span> / متری</span></h4>
                        <ul>
                            <li>کیفیت عالی</li>
                            <li>جنس ترک</li>
                            <li>قابل شسنشو</li>
                            <li>طرح ها و کتیبه های مختلف</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">مشاهده طرح های مختلف </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="200">
                        <h3>قرنیز طرح چوب</h3>
                        <h4><sup class="font-weight-lighter">هزار تومن</sup> 50<span> / شاخه ای</span></h4>
                        <ul>
                            <li>طرح های شیک و به روز</li>
                            <li>در رنگ های مختلف</li>
                            <li>کیفیت عالی</li>
                            <li>نصب راحت</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">مشاهده مدل های قرنیز</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="300">
                        <span class="advanced">ویژه</span>
                        <h3>آینه دکوراتیو</h3>
                        <h4><sup class="font-weight-lighter">هزار تومن</sup> 100<span> / متری</span></h4>
                        <ul>
                            <li>در طرح های مختلف</li>
                            <li>قابل سفارش در اندازه مورد نیاز شما</li>
                            <li>شیک و مجلل</li>
                            <li>قابلیت نصب راحت</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">مشاهده طرح های آینه دکوراتیو</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>سوال</h2>
                <p>سوالات پر تکرار</p>
            </div>

            <ul class="faq-list">

                <li data-aos="fade-up" data-aos-delay="100">
                    <a data-toggle="collapse" class="" href="#faq1">آیا کاغذ دیواری قابل شستشو می باشد؟<i
                            class="icofont-simple-up"></i></a>
                    <div id="faq1" class="collapse show" data-parent=".faq-list">
                        <p>
                            بله،به دلیل روکش پلاستیکی کاغذ دیواری پس از گذر زمان در صورت نیاز میتوان با دستمال نمدار آن
                            را تمیز کزد.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <a data-toggle="collapse" href="#faq2" class="collapsed">برای براق کردن کابینت چه می توان کرد؟ <i
                            class="icofont-simple-up"></i></a>
                    <div id="faq2" class="collapse" data-parent=".faq-list">
                        <p>
                            از براق کننده سطوح ام دی اف استفاده کنید. در صورت نیاز می توانید این براق کننده را از مغازه
                            ما تهیه کنید.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <a data-toggle="collapse" href="#faq3" class="collapsed">ایا از کاغذ دیواری رو کچ میتوان استفاده
                        کرد؟ <i class="icofont-simple-up"></i></a>
                    <div id="faq3" class="collapse" data-parent=".faq-list">
                        <p>
                            خیر نیاز است تا نقاش زیر کار را آماده کند و بعد اقدام به نصب کاغذ دیواری کرد.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <a data-toggle="collapse" href="#faq4" class="collapsed">چن رول کاغذ دیواری نیاز است؟<i
                            class="icofont-simple-up"></i></a>
                    <div id="faq4" class="collapse" data-parent=".faq-list">
                        <p>بسته به مساحت مورد نیاز باید اندازه گیری شود و بعد نصاب به شما تعداد رول های مورد نیاز را
                            اعلام کند
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="500">
                    <a data-toggle="collapse" href="#faq5" class="collapsed">آیا می شود پوستر از عکس خودمان سفارش بدهیم؟<i
                            class="icofont-simple-up"></i></a>
                    <div id="faq5" class="collapse" data-parent=".faq-list">
                        <p>
                            بله می توان عکس خود را برای کارشناس ما فرستاده و پس از هماهنگی با چاپخانه پوستر تصویر شما بر
                            روی آن تهیه و نصاب در مکان مورد نظر برایتان نصب مبکند.
                        </p>
                    </div>
                </li>


            </ul>

        </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>تیم</h2>
                <p>همکاران ما</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <img src="{% static 'blog/assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-telegram"></i></a>
                                <a href=""><i class="icofont-telephone"></i></a>
                            </div>
                        </div>
                        <div class="member-info text-center">
                            <h4 class="">محمود احمدی</h4>
                            <span>کارشناس و نصاب پرده و کاغذ دیواری</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="{% static 'blog/assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-telegram"></i></a>
                                <a href=""><i class="icofont-telephone"></i></a>
                            </div>
                        </div>
                        <div class="member-info text-center">
                            <h4>حسین احمدی</h4>
                            <span> کارشناس ونصاب کابینت</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <img src="{% static 'blog/assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-telegram"></i></a>
                                <a href=""><i class="icofont-telephone"></i></a>
                            </div>
                        </div>
                        <div class="member-info text-center">
                            <h4>حسن احمدی</h4>
                            <span>مدیر فروشگاه و حسابدار موسسه</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="member-img">
                            <img src="{% static 'blog/assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info text-center">
                            <h4>مسعود احمدی</h4>
                            <span>کارشناس و نصاب آینه دکوراتیو</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>تماس</h2>
                <p>تماس با ما</p>
            </div>

            <div class="row mt-5">

                <div class="col-lg-4" data-aos="fade-right">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map float-right ml-2"></i>
                            <h4>آدرس:</h4>
                            <p class="text-center">لردگان،خیابان شهید کلانتری ،روبه روی مصلی جنب بانک توسعه تعاون</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope float-right ml-2"></i>
                            <h4>ایمیل: </h4>
                            <p>bartardecor@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone float-right ml-2"></i>
                            <h4>  تلفن تماس: </h4>
                            <p>03834454057</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

                    <form action="contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="نام"
                                       data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="ایمیل" data-rule="email"
                                       data-msg="Please enter a valid email"/>
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="عنوان"
                                   data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"/>
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required"
                                      data-msg="Please write something for us" placeholder="پیام"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">پیامتون ارسال شد با تشکر</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">ارسال پیام</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>Bartar</h3>
        <p>کیفیت برتر ،کادر مجرب ، طرحی نو</p>
        <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-whatsapp"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-telegram"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'blog/assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'blog/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'blog/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'blog/assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'blog/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'blog/assets/vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'blog/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'blog/assets/vendor/aos/aos.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'blog/assets/js/main.js' %}"></script>

</body>

</html>